body #appSection{
    position: absolute;
    left: 530px;
    top: 125px;
    line-height: 42px;
    z-index: 2;
}

#mainTitle{
   width: 500px;
    height: 90px;
    z-index: 5;
    position: absolute;
    top: 15px;
    left: 430px;
}

#mainLogo{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 500px;
    left: 830px;
    z-index: 5;
}

#allApp{
    position: absolute;
    top: 35px;
}
#block{
    position:relative;
    left: 440px;
    top: 100px;
    z-index: 1;
    display: inline-block;
    background-color: #999999;
    box-shadow: 3px 3px 10px #999999;
    width: 500px;
    height: 490px;
    opacity: 0.5;
}

.mass , .height{
    color: black;
}

#mass , #height{
    padding: 0.2cm;
    box-shadow: 3px 3px 10px #999999;
    border: none;
    text-align: center;
    font-weight: bold;
}

.mass:focus,.height:focus{
    background-color: #1db23c;
    color : white;
}

#kg , #pou , #cm , #inch, .units{
    position: relative;
    left: 65px;

}

.button {
    display: inline-block;
    border-radius: 8px;
    background-color: #1db23c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    /*padding: 10px;*/
    width: 100px;
    height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    /*margin: 5px;*/
    line-height: 0px;
    position: relative;
    left: 70px;
    top: -20px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -7px;
    transition: 0.5s;
}


.button:hover span {
    padding-right: 15px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.result{
    display: inline-block;
    color: black;
    background-color: white;
    width: 235px;
    height: 35px;
    box-shadow: 3px 3px 20px #999999;
    text-align: center;
    font-weight: bold;

}

#bmi{
    position: relative;
    top: -15px;

}

#status{
    position: relative;
    top: -15px;
    left: -2px;

}
 .resultLable{
    position: relative;
    top: -25px;
}

#sideMenu{
    position: fixed;
    top: 25%;

}
.sideMenu{
    background-size: 20%;
    opacity: 0.8;

}
#facebook{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0px;
    line-height: 40px;

}

#facebook:hover{
    opacity: 1;
    transition-delay: 0.5ms;
    zoom: 115%;
    z-index: 2;
}

#gplus{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0px;

}

#gplus:hover{
    opacity: 1;
    transition-delay: 0.5ms;
    zoom: 115%;
    z-index: 2;
}

#instagram{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0px;
}

#instagram:hover{
    opacity: 1;
    transition-delay: 0.5ms;
    zoom: 115%;
    z-index: 2;
}

#linkedin{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0px;
}

#linkedin:hover{
    opacity: 1;
    transition-delay: 0.5ms;
    zoom: 115%;
    z-index: 2;
}

#twitter{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0px;
}

#twitter:hover{
    opacity: 1;
    transition-delay: 0.5ms;
    zoom: 115%;
    z-index: 2;
}

#mail{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0px;
}

#mail:hover{
    opacity: 1;
    transition-delay: 0.5ms;
    zoom: 115%;
    z-index: 2;
}

#phone{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0px;
}

#phone:hover{
    opacity: 1;
    transition-delay: 0.5ms;
    zoom: 115%;
    z-index: 2;
}

#download{
    width: 180px;
    height: 45px;
    opacity: 0.7;
    position: relative;
    left: 100px;
    top: 575px;
    border: none;

}

#download:hover{
    opacity: 1;

}

.emo{
    z-index: 5;
    position: absolute;
    top: 255px;
    left: 540px;
    zoom: 155%;

}

#E2 , #E3 , #E4 , #E5 , #E6{
    opacity: 0;
}
